<!-- HEADER COMPONENT-->
<header class="main-header">
  <div class="nav-main">
    <span class="itsme">it's me </span>
    <a href="#menu-ovefly" class="toogle-overfly"><i class="fa fa-bars open-t"></i> <i class="fa fa-times close-t"></i></a>
    <a href="#search-ovefly" class="toogle-overfly"><i class="fa fa-search open-t"></i> <i class="fa fa-times close-t"></i></a>
    <a href="#share-ovefly" class="toogle-overfly"><i class="fa fa-plus open-t"></i> <i class="fa fa-times close-t"></i></a>
  </div>

  <div class="over-fly-area" id="menu-ovefly">
    <div class="inner-overfly">
      <div class="middle-overfly">
        <h2 class="title-over">Menu</h2>
        <nav class="main-nav" id="menu">
          <ul class="nav">
            <li class="active"><a href="#aboutme" class="inner-link" data-text="About Me"><span>About Me</span></a></li>
            <li><a href="#resume" class="inner-link" data-text="My Resume"><span>Resume</span></a></li>
            <li><a href="#portfolio" class="inner-link" data-text="My Portfolio"><span>Portfolio</span></a></li>
            <li><a href="#"><span>Blog</span></a>
              <ul>
                <li><a href="dark_blog-list-posts.html"  class="open-link" >List Posts</a></li>
                <li><a href="dark_blog-single-post.html"  class="open-link">Single Post</a></li>
                <li><a href="#modal-example" data-toggle="modal" >Extra Pages</a></li>
              </ul>
            </li>
            <li><a href="#contact" class="inner-link"  data-text="Contact Me"><span>Contact</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="over-fly-area" id="search-ovefly">
    <div class="inner-overfly">
      <div class="middle-overfly">
        <h2 class="title-over">Find My Articles</h2>
        <form class="from-search">
          <div class="form-group">
            <input type="search" name="s" class="form-control input-lg input-search" placeholder="Input Text Here !" >
          </div>
          <div class="form-group">
            <button  class="btn btnc2"><span>Search</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="over-fly-area" id="share-ovefly">
    <div class="inner-overfly">
      <div class="middle-overfly">
        <h2 class="title-over">Share This Page</h2>
        <!-- You MUST change the URL definition in these links to share YOUR page - simply change the URL -->
        <div class="social-share">
          <a href="https://plus.google.com/share?url=http://www.yourwebsite.com" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
          <a href="http://pinterest.com/pin/create/button/?url=http://www.yourwebsite.com" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
          <a href="http://www.facebook.com/share.php?u=http://www.yourwebsite.com" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="http://twitter.com/home?status=http://www.yourwebsite.com" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- hero  -->
  <div class="hero-01">
    <div class="hero-border">
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right">
        <div class="v-area">
          <div class="v-middle  show-span" >
            <div class="p5" id="label-menu">
              <span>A</span>
              <span>B</span>
              <span>O</span>
              <span>U</span>
              <span>T</span>
              <span></span>
              <span>M</span>
              <span>E</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-thumb">
      <div class="thumb-top"><a href="./assets/theme/img/pic/pic1.jpg" class="image-popup" title="This is Me."><img src="assets/theme/img/profile-thumb.jpeg" class="img-thumbnail no-radius"  alt=""></a></div>
    </div>

    <div class="content-hero">
      <div class="v-content">
        <h4 class="font-normal">My Name is</h4>
        <h1 class="myname">Sachin Jacob</h1>
        <h3 class="font-normal with-line">Full Stack Web Developer</h3>
        <p ><a href="#" class="btn btnc1"><span>Hire Me</span></a> <a href="#" class="btn btnc1"><span>Download Resume</span></a></p>
      </div>
    </div>
  </div><!-- hero  -->
</header>           <!-- end HEader -->
