<section id='contact'>

  <!-- map -->
  <div class="map-area  br-t br-b">
    <!-- change data-lat="48.856318" data-lng="2.351866" with your location-->
    <div class="map" id="map" data-lat="48.856318" data-lng="2.351866"></div>
    <div class="map-scroll-space"></div>
    <div class="map-wait-msg">Plase Wait...</div>
    <div class="map-detail-location">
      <h4>Locations:</h4>
      <p>Jl Karanggan no 132 Bandung Indonesia</p>
    </div>
  </div><!-- end map -->

  <!-- contact form -->
  <div class="section-padd">
    <div class="container-body clearfix">
      <h2 class="title dark"><span>Let's Talk About <small id='show-subject'>...</small> <small><a href="#" class="fire-toogle-subject mini-arrow"><i class="fa fa-angle-down"></i></a></small></span></h2>
      <div class="dropdown top-min">
        <a href="#" data-toggle="dropdown" id='toogle-subject'></a>
        <ul class="dropdown-menu" id="option_subject" >
          <li><a href="#">The Next Project</a></li>
          <li><a href="#">The Next Design</a></li>
          <li><a href="#">The Next Mobile Apps</a></li>
          <li><a href="#">Say Hi</a></li>
        </ul>
      </div>
      <div class="white-space-10"></div>
      <form method="post" id="ContactForm" name="contactForm" class="validate-form">
        <input type="hidden" name="subject" value="" id='subject_contact'>
        <input type="hidden" name="file" id="file-att" value="">
        <div class="form-group">
          <label>Your Name (*)</label>
          <input type="text" class="form-control form-flat" name="fullname" required>
        </div>
        <div class="form-group">
          <label>Email (*)</label>
          <input type="email" class="form-control form-flat" name="email" required>
        </div>
        <div class="form-group">
          <label>Your Message (*)</label>
          <textarea class="form-control form-flat" name="message" rows="8"  required></textarea>
        </div>

        <div class="hold-feature uploader-hold">
          <div class="form-group">
            <label>Attach Your Document (Optional) <span class="display-block ">(only .pdf  allowed , max size 2Mb)</span></label>
            <div class="clearfix">
              <input type="button" id="upload-btn" class="btn  btn-file btn-xs btn-default clearfix" value="Choose file">
              <div id="errormsg" class="clearfix error"></div>
              <div id="pic-progress-wrap" class="progress-wrap"></div>
              <div id="picbox" class="attbox "></div>
            </div>
          </div>
        </div>

        <div class="hold-feature captcha-hold">
          <div class="form-group">
            <!-- generate captcha -->
            <div id="mycaptcha-wrap" class="mycaptcha1">
              <div id="mycaptcha" class="mycaptcha1"></div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btnc2 with-br "><span>Send This Message</span></button>
        </div>

        <div class="form-group">
          <!-- aja msg -->
          <div class="preload-submit hidden"><hr/> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
          <div class="message-submit error hidden"></div>
        </div>
      </form>
    </div>
  </div><!-- end contact form -->

  <!-- social links -->
  <div class="clearfix br-t" >
    <div class="col-md-3 col-xs-6 no-padding">
      <div class="desc-mini no-br-l">
        <div class="mid-desc-mini">
          <h3><a href="#" class="black-link" target="_blank">&nbsp;<i class="fa fa-facebook"></i> &nbsp;</a></h3>
          <p><a href="#" class="black-link" target="_blank">Facebook</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 no-padding">
      <div class="desc-mini">
        <div class="mid-desc-mini">
          <h3><a href="#" class="black-link" target="_blank">&nbsp;<i class="fa fa-dribbble"></i> &nbsp;</a></h3>
          <p><a href="#" class="black-link" target="_blank">Dribbble</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 no-padding">
      <div class="desc-mini">
        <div class="mid-desc-mini">
          <h3><a href="#" class="black-link" target="_blank">&nbsp;<i class="fa fa-twitter"></i>&nbsp;</a></h3>
          <p><a href="#" class="black-link" target="_blank">Twitter</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 no-padding">
      <div class="desc-mini">
        <div class="mid-desc-mini">
          <h3><a href="#" class="black-link" target="_blank">&nbsp;<i class="fa fa-linkedin"></i>&nbsp;</a></h3>
          <p><a href="#" class="black-link" target="_blank">Linkedin</a></p>
        </div>
      </div>
    </div>
  </div><!-- end social links -->

</section><!-- end contact section -->
