<section id="portfolio">

  <!-- filter portfolio -->
  <div class="section-padd br-t bg2" >
    <div class="container-body clearfix">
      <h2 class="title dark"><span>My Works</span></h2>
      <ul class="list-inline list-filter-galery">
        <li class="active" data-filter="*"><a href="#">All</a></li>
        <li data-filter=".img"><a href="#" >Image</a></li>
        <li data-filter=".gal"><a href="#">Gallery</a></li>
        <li data-filter=".vid"><a href="#">Video</a></li>
      </ul>
    </div>
  </div>

  <!-- grid portfolio -->
  <div class="galery-box clearfix bg2">
    <div class="col-sm-3 col-xs-6 item-box img">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-1.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/1.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box gal">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-galery.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <div id="bs-gslider1" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/theme/img/thumb/2.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/theme/img/thumb/3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 item-box vid">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-vimeo.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/4.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box vid">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-youtube.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/5.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box img">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-image.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/6.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box img">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-image.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/7.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box gal">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a  href="works/work-galery.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <div id="bs-gslider2"  class="carousel slide carousel-fade" data-ride="carousel" data-interval="4010">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/theme/img/thumb/8.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/theme/img/thumb/9.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 item-box img">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-image.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/10.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box vid">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-youtube.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/11.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box gal">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-galery.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <div id="bs-gslider3"  class="carousel slide carousel-fade" data-ride="carousel" data-interval="3010">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/theme/img/thumb/12.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/theme/img/thumb/13.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 item-box img">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-image.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/14.jpg" alt="">
    </div>
    <div class="col-sm-3 col-xs-6 item-box vid">
      <div class="hover-area">
        <div class="text-vcenter-area">
          <div class="text-vcenter">
            <h3><a href="works/work-vimeo.html" class="link-work">Project Title <i class="fa fa-link"></i></a></h3>
          </div>
        </div>
      </div>
      <img src="assets/theme/img/thumb/15.jpg" alt="">
    </div>
  </div><!-- end grid portfolio -->

  <!-- team -->
  <div class="section-padd br-b bg2" >
    <div class="container-body clearfix">
      <h2 class="title dark"><span>My Team</span></h2>
      <div class="white-space-10"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="team-box">
            <img src="assets/theme/img/people/10.jpg" alt="" >
            <h4>Jhoanes Yuneuz</h4>
            <p>Programmer</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="team-box">
            <img src="assets/theme/img/people/11.jpg" alt="" >
            <h4>Rose Luxyu</h4>
            <p>Marketer</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="team-box">
            <img src="assets/theme/img/people/12.jpg" alt="" >
            <h4>Eric Sukarto</h4>
            <p>Documenter</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="team-box">
            <img src="assets/theme/img/people/13.jpg" alt="" >
            <h4>Andred Grick</h4>
            <p>Analytics</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end team -->


  <div class="section-padd">
    <div class="container-body clearfix">
      <!-- recent client -->
      <h2 class="title"><span>Recent Clients</span></h2>
      <div class="white-space-10"></div>
      <ul class="list-inline text-center list-force-img clearfix">
        <li><a href="#"><img src="assets/theme/img/patner2/1.png" alt=""></a></li>
        <li><a href="#"><img src="assets/theme/img/patner2/2.png" alt=""></a></li>
        <li><a href="#"><img src="assets/theme/img/patner2/3.png" alt=""></a></li>
        <li><a href="#"><img src="assets/theme/img/patner2/4.png" alt=""></a></li>
        <li><a href="#"><img src="assets/theme/img/patner2/5.png" alt=""></a></li>
      </ul>
      <!-- recent client -->

      <!-- testimonial -->
      <h2 class="title"><span>Testimonial</span></h2>
      <div class="white-space-10"></div>
      <ul class="list-unstyled list-testimonial clearfix">
        <li>
          <img src="assets/theme/img/people/1.jpg" alt="" class="img-thumbnail img-circle">
          <div class="text-testimonial">
            <h3>No One Only You
              <small class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <span>(4.5/5)</span>
              </small>
            </h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor. Phasellus viverra nulla ut metus varius laoreet.
            <h4>Margaret Lubt - <small>Founder  <a href="#"><i class="fa fa-globe"></i> www.website.com</a></small></h4>
          </div>
        </li>
        <li>
          <img src="assets/theme/img/people/2.jpg" alt="" class="img-thumbnail img-circle">
          <div class="text-testimonial">
            <h3>Amazing Team
              <small class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <span>(4.5/5)</span>
              </small>
            </h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor. Phasellus viverra nulla ut metus varius laoreet.
            <h4>Tony Struck - <small>Founder  <a href="#"><i class="fa fa-globe"></i> www.website.com</a></small></h4>
          </div>
        </li>
        <li>
          <img src="assets/theme/img/people/3.jpg" alt="" class="img-thumbnail img-circle">
          <div class="text-testimonial">
            <h3>Good Job Guys
              <small class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <span>(4.5/5)</span>
              </small>
            </h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor. Phasellus viverra nulla ut metus varius laoreet.
            <h4>Geisha Rose - <small>Founder  <a href="#"><i class="fa fa-globe"></i> www.website.com</a></small></h4>
          </div>
        </li>
      </ul><!-- end testimonial -->
    </div>
  </div>

  <!-- service -->
  <div class="section-padd br-t br-b bg2" >
    <div class="container-body clearfix">
      <h2 class="title dark"><span>Services</span></h2>
      <div class="white-space-10"></div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="box-service">
            <div class="ic"><i class="fa fa-pencil "></i></div>
            <h3>Design</h3>
            <ul>
              <li>Planing</li>
              <li>Design</li>
              <li>Develop</li>
              <li>Deploy Product</li>
            </ul>
            <div class="price">$130$-$900</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box-service">
            <div class="ic"><i class="fa fa-desktop "></i></div>
            <h3>Web Apps</h3>
            <ul>
              <li>Planing</li>
              <li>Design</li>
              <li>Develop</li>
              <li>Deploy Product</li>
            </ul>
            <div class="price">$2050-$3600</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box-service">
            <div class="ic"><i class="fa fa-gamepad "></i></div>
            <h3>Game Apps</h3>
            <ul>
              <li>Planing</li>
              <li>Design</li>
              <li>Develop</li>
              <li>Deploy Product</li>
            </ul>
            <div class="price">$1050-$2600</div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end service -->
</section><!-- end portfolio section -->
