




<!-- body-area -->
<div class="body-area">
  <!-- PAGE LOADER COMPONENT -->


  <!-- HEADER COMPONENT-->
  <app-header></app-header>

  <!-- CONTENT BODY COMPONENT-->
  <app-content></app-content>

  <!-- FOOTER COMPONENT -->
</div><!-- body-area -->


<!-- portfolio details ajax -->
<!--<div class="over-fly-area" id="load-works">-->
  <!--<div class="inner-overfly" id="work-wait-msg">-->
    <!--<div class="middle-overfly">-->
      <!--<h2 class="title-over">PLASE WAIT...</h2>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="work-close"><a href="#" class="close-panel-work btn btn-xs btn-default" >Close</a></div>-->
  <!--<div id="load-work-html" ></div>-->
<!--</div>-->



<!--&lt;!&ndash; Modal Example&ndash;&gt;-->
<!--<div class="modal fade" id="modal-example" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Extra Pages</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<ul class="list-boxpage">-->
          <!--<li><a href="dark_blog-list-posts.html" class="open-link">Blog List Post</a></li>-->
          <!--<li><a href="dark_blog-single-post.html" class="open-link">Blog Single Post</a></li>-->
          <!--<li><a href="dark_404.html" class="open-link">404 error</a></li>-->
          <!--<li><a href="dark_cooming-soon.html" class="open-link">Cooming Soon</a></li>-->
          <!--<li><a href="dark_theme-element.html" class="open-link">Theme Element</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->

        <!--<a href="#" class="btn btnc2 with-br " ><span>Buy This Theme</span></a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>&lt;!&ndash; end  Modal Example&ndash;&gt;-->


<app-header></app-header>
