<section id="resume">
  <div class="section-padd" >
    <div class="container-body clearfix">
      <h2 class="title"><span>Education</span></h2>
      <div class="white-space-10" ></div>
      <!-- resume list-->
      <ul class="resume-list">
        <li>
          <h4><i class="fa fa-calendar ic-re"></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
        <li>
          <h4><i class="fa fa-calendar ic-re" ></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
        <li>
          <h4><i class="fa fa-calendar ic-re" ></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
      </ul><!-- end resume list-->
      <h2 class="title"><span>Employement</span></h2>
      <div class="white-space-10" ></div>
      <!-- resume list-->
      <ul class="resume-list">
        <li>
          <h4><i class="fa fa-calendar ic-re" ></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
        <li>
          <h4><i class="fa fa-calendar ic-re" ></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
        <li>
          <h4><i class="fa fa-calendar ic-re" ></i> 2010-2012</h4>
          <i>Bachelor Degree</i>
          <h3><i class="fa fa-building-o ic-re" ></i> Design University</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
      </ul><!-- end resume list-->
      <h2 class="title"><span>Skills</span></h2>
      <!-- skills -->
      <div class="row">
        <div class="col-md-6">
          <h3 class="title-2">Web Designer</h3>
          <ul class="list-unstyled list-progress">
            <li>
              <h4>Photoshop  <small>80%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="80%" ></div>
              </div>
            </li>
            <li>
              <h4>CSS3   <small>60%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="60%" ></div>
              </div>
            </li>
            <li>
              <h4>HTML5   <small>70%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="70%" ></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="title-2">Web Development</h3>
          <ul class="list-unstyled list-progress">
            <li>
              <h4><span>PHP</span>  <small>80%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="80%"></div>
              </div>
            </li>
            <li>
              <h4>ROR   <small>60%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="60%"></div>
              </div>
            </li>
            <li>
              <h4>MYSQL   <small>70%</small></h4>
              <div class="progress-line">
                <div class="line" data-holdwidth="70%" ></div>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- skills -->

      <!-- soft skills -->
      <h3 class="title-2">Soft Skills</h3>
      <div class="clearfix text-center" >
        <div class="col-md-3 col-sm-6 col-xs-6  no-padding">
          <div class="mb30">
            <div class="chart" data-percent="87"><span class="percent"></span></div>
            <h4>Creative   </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6  col-xs-6 no-padding">
          <div class="mb30">
            <div class="chart" data-percent="73"><span class="percent"></span></div>
            <h4>Leadership   </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6  no-padding">
          <div class="mb30">
            <div class="chart" data-percent="80"><span class="percent"></span></div>
            <h4>Communication </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 no-padding">
          <div class="mb30">
            <div class="chart" data-percent="90"><span class="percent"></span></div>
            <h4>Confident </h4>
          </div>
        </div>
      </div><!-- end soft skills -->
    </div>
  </div>
</section><!-- end resume section-->
