<section id="aboutme">
  <div class="section-padd bg2" >
    <div class="container-body clearfix">
      <div class="big-qoute">
        <h3>Start where you are. Use what you have. Do what you can. <small>&rarr; Sachin Jacob</small></h3>
      </div>
    </div>
  </div>
  <div class="section-padd top-bold-border" >
    <div class="container-body clearfix">
      <div class="row">
        <div class="col-md-12">
          <div class="img-pr">
            <a href="./assets/theme/img/pic/pic2.jpg" class="image-popup" title="This is Me.">
              <img src="assets/theme/img/profile.jpg" alt="" >
            </a>
          </div>
          <h2 class="title"><span>Hello There</span></h2>
<p>Mission-driven Full Stack Javascript Developer with a passion for thoughtful UI design and collaboration.Experience of building and maintaining commercial WebApps for 2 years. Enjoys working 'Full stack' .Experience with building single-page applications in Angular2/4/5 providing a seamless bridge between design and the back-end, currently based out of Pune, India.
  “ I want to make things that make a difference.“</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix br-t" >
    <div class="col-md-12 col-sm-12 no-padding">
      <div class="desc-mini no-br-l">
        <div class="mid-desc-mini">
          <h3>Full Stack Web Developer</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="bg2 p30 br-b">
    <div class="container-body clearfix">
      <div class="clearfix br-t br-r " >
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>Birthdate</h4>
              <p>14/10/1994</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>Skype</h4>
              <p>s.jacob</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>Phone </h4>
              <p>+91 95 62 26 0000</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>Email</h4>
              <p>sachin.jijo@gmail.com</p>
            </div>
          </div>
        </div>
        <!--<div class="col-lg-4 col-md-6 col-sm-6 no-padding">-->
          <!--<div class="desc-mini" >-->
            <!--<div class="mid-desc-mini">-->
              <!--<h4>Website</h4>-->
              <!--<p> www.someonedomain.me</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>Address </h4>
              <p>PUNE,INDIA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- end about me section -->
